<div class="container mt-5" >
    <div class="card bg-primary text-white" style="width: 18rem;">
        <img src="../../assets/img/crud.png" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card Operation</h5>
          <p class="card-text">Here you can perfome CURD Operation Create Read Update Delete</p>
          <div class="container mt-5">
            <button mat-flat-button color="warn" routerLink="/employee-list">Crud Operation</button>
        </div>
        </div>
      </div>
</div>